NODE_ENV=development
NODE_APP_HOSTNAME=http://localhost
NODE_APP_ERROR_LEVEL=debug
NODE_APP_NEWRELIC=false
NODE_APP_PORT=9970
NODE_APP_REALM_BASIC=global.
NODE_APP_REALM_ADMIN=admin.
NODE_APP_REALM_DEBUG=debug.
NODE_APP_DEBUG_USER=debugAdmin
NODE_APP_DEBUG_PASSWORD=xxxxxx
NODE_APP_REDIS_HOST=192.168.179.130
NODE_APP_REDIS_PORT=6379
NODE_APP_MONGO_URL=mongodb://192.168.179.130:27017/earth
NODE_APP_MONGO_TIMEOUT=6
NODE_APP_EMAILSENDER_EMAIL=xxxxxx@gmail.com
NODE_APP_EMAILSENDER_PASSWORD=xxxxxx
NODE_APP_LOGAPP_URL=192.168.179.130
NODE_APP_LOGAPP_PORT=12201
NODE_APP_SALT=xxxxxxxxxxx
NODE_APP_TOKEN_SECRET=xxxxxxxxxxxxxxxxxxx
#in milliseconds
NODE_APP_TOKEN_EXPIRES=3600000
#in milliseconds
NODE_APP_TOKEN_LOGIN_VALID_PERIOD=1296000000
NODE_TEST_APP_MONGO_URL=mongodb://192.168.179.130:27017/pluto
NODE_TEST_APP_REDIS_HOST=192.168.179.130
NODE_TEST_APP_REDIS_PORT=6379
BLUEBIRD_DEBUG=1
